# .NET build output
bin/
obj/

# Stainless build output
*.exe
*.ll
*.o
*.obj
*.pdb
*.ilk

# Stainless library output
*.dll
*.lib
*.so
*.dylib

# Sample build output, including generated headers
samples/**/build/
